.mainBg-start {
  opacity: 0.9;
  background-color: black;
}

.mainBg-end {
  opacity: 1;
  transition: all 0.7s;
}

.main-body {
  padding-top: 80px;
  background-color: black;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.search-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.search-h1 {
  padding-bottom: 30px;
}

.Rows {
  background-color: black;
}

html {
  background-color: black;
}
