.main-bg {
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/img/백그라운드.jpg");
  background-size: cover;
  background-position: center;
}

.main-bg::before {
  content: "";
  opacity: 0.65;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
  background-size: cover;
}

.main-bg h1 {
  color: #fff;
  text-align: center;
  line-height: 300px;
  position: absolute;
  display: inline-flex;
}

.main-bg .box {
  width: 500px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  text-align: center;
  margin-left: -250px;
  margin-top: -150px;
}

.main-bg p {
  color: white;
  display: block;
}

.main-bg header {
  width: auto;
  height: auto;
  top: 0px;
  left: 5px;
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  width: 100px;
  height: 30px;
}

.bigfont {
  font-size: 40px;
}

.smallfont {
  padding-top: 0px;
  font-size: 15px;
}

.box-margin {
  margin-top: 15px;
}

.welcome_button {
  margin-top : 20px;
}

.welcome_button:hover {
  color: #000;
  background-color: #ffffff;
  transition: all 0.2s;
}
