.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background: white;
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.input {
  text-align: right;
  font-size: 1rem;
  outline: 0;
}

.button {
  background-color: darkgray;
  width: 100px;
  outline: 0;
}

.buttonImage {
  height: 100%;
  padding: 0.5em 0.2em;
}

.img {
  width: 70px;
  margin-right: 7px;
}
