html {
  height: 100%;
}

.login-bg {
  width: 100%;
  height: 100vh;
  background-image: url("../../../public/img/배트맨.jpeg");
  background-size: cover;
  background-position: center;
}

.login-bg::before {
  content: "";
  opacity: 0.65;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #000;
  background-size: cover;
}

.logo-box {
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo {
  width: 100px;
  height: 30px;
}

#main-holder {
  width: 500px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  text-align: center;
  margin-left: -250px;
  margin-top: -150px;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.login-form-field::placeholder {
  color: #3a3a3a;
}

.login-form-field {
  width: 50%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#login-form-submit {
  width: 50%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin: 5px;
}

.login-header {
  margin-top: -30px;
  margin-bottom: 30px;
}

.start {
  opacity: 0;
  transform: scale(0);
}

.end {
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s;
}

.bg-start {
  opacity: 0.95;
}

.bg-end {
  opacity: 1;
  transition: all 0.5s;
}

.disable-button {
  width: 50%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin: 5px;
  opacity: 0.6;
  transition: all 0.4s;
}

.disable-button:hover {
  color: #000;
  background-color: #ffffff;
  transition: all 0.2s;
}

.able-button {
  width: 50%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin: 5px;
  opacity: 1;
  transition: all 0.4s;
}
