.detail-movie-modal {
  background-color: black;
  width: 90%;
  min-width: 500px;
  max-width: 800px;
  height: 85%;
  overflow-y: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1011;
}

.detail-movie-modal::-webkit-scrollbar {
  width: 10px;
}

.detail-movie-modal::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
  height: 30%;
}

.detail-movie-modal::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.poster {
  padding-top: 10px;
  width: 100%;
  height: 100%;
}

.left {
  width: 70%;
  float: left;
}

.button-right {
  float: right;
  margin-right: 10px;
}

.right {
  text-align: right;
  width: 30%;
  float: right;
}

.detail-movie-btn {

  margin-top: 10px;
  margin-left: 300px;
  margin-bottom: 10px;

  width: 80px;
  height: 40px;
  font-size: 20px;
  font-family: 'Nanum Gothic';
  color: white;
  text-align: center;
  font-weight: bold;
  background: red;
  border: solid 2px grey;
  border-radius: 12px;

}

.heart {
  width: 30px;
  height: 32px;

}

h2 {
  padding-left: 10px;
  padding-top: 5px;
  height: 30px;

}

p {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

}

.modal-start {
  opacity: 0;
}

.modal-end {
  opacity: 1;
  transition: all 0.7s;
}

.poster-start {
  opacity: 0;
}

.poster-end {
  opacity: 1;
  transition: all 1.2s;
}

button {
  margin-left: 10px;
}

input {
  margin-left: 10px;
}