.detail-movie-modal {
    background-color: white;
    width: 40%;
    min-width: 300px;
    max-width: 600px;
    height: 80%;
    overflow-y: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    z-index: 1011;
}