img {
  width: 200px;
  height: 310px;
  padding-bottom: 10px;
  padding-right: 0px;
}

img:hover {
  transform: scale(1.5, 1.5);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
}
