.header-body {
  width: 100vh;
}

.user-logo {
  width: 35px;
  height: auto;
  padding-bottom: 0px;
}

.brand-logo {
  width: 100px;
  height: auto;
  padding-top: 5px;
  padding-bottom: 0px;
}

.fade-start {
  opacity: 0;
  transform: scale(0);
}

.fade-end {
  transform: scale(1);
  opacity: 1;
  transition: all 1s;
}

.dropdown {
  color: red;
}

.drop-menu.show {
  visibility: visible;
  display: block;
  opacity: 1;
  transform: translateY(10px);
  transition: all 0.5s;
}

.drop-menu {
  transform: translateY(-5px);
  position: absolute;
  visibility: hidden;
  z-index: 1000;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-color: #111;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  opacity: 0;
}

.outsection {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Navbar {
  position: fixed;
  top: 0;
}

.dropdown-item {
  color: white;
}

.FormControl {
  background-color: rgb(225, 204, 182);
}

.profile_nav {
  margin-right: 10px;
}

.profile_nav_child {
  margin-right: 300px;
  color: black;
}

/* search버튼 이미지 크기 */
.search_image {
  width: 23px;
  height: 23px;
}

.me-1 {
  background: #343d46;
}
/* search검색 hover기능 */
.me-2:hover {
  background-color: #691414;
  transition: all 0.2s;
}
