.row {
  color: white;
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 170px;
  height: 250px;
  margin-right: 12px;
}

.row__poster:hover {
  transform: scale(1.15, 1.15);
  z-index: 1010;
  transition: all 0.2s ease-in;
}

h2 {
  z-index: 1;
  height: 50px;
  width: 100%;
  padding-top: 20px;
}
