.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  height: 70px;

  display: flex;
  justify-content: space-between;

  /* anmations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  position: fixed;
  left: 20;
  width: 120px;
  object-fit: contain;
}

.nav_avatar {
  position: fixed;
  right: 20px;
  width: 40px;
  object-fit: contain;
}
