apiVersion: v1
kind: Service
metadata:
  name: django-svc
spec:
  selector:                                                                                                    
    app: django
  ports:
  - port: 8000
    targetPort: 8000
  type: LoadBalancer